/*Home Page*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #00ffb3, #00ffaa);
    margin: 0;
}

.home-container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #00ff9d;
}

p{
    color: #00ff9d;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #00ff88;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

a {
    font-size: 18px;
    color: #00ff9d;
    text-decoration: none;
}
/*Home Page*/


/*404 Page*/
.error-container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Error {
    font-size: 96px;
    margin: 0;
    color: #00ffb3;
}

#ErrorText {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

/*404 Page*/

/*Responsive Resizing*/
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    p, nav ul li a, a {
        font-size: 1.2rem;
    }
    .home-container, .login-container, .register-container {
        padding: 20px;
        width: 90%;
    }

    #Score, #healthDisplay {
        font-size: 4vw;
    }

    #pauseMenu {
        font-size: 1.5rem;
        padding: 15px;
    }

    #pauseMenu button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    p, nav ul li a, a {
        font-size: 1rem;
    }
    .home-container, .login-container, .register-container {
        padding: 10px;
        width: 95%;
    }

    #Score, #healthDisplay {
        font-size: 5vw;
    }

    #pauseMenu {
        font-size: 1.2rem;
        padding: 10px;
    }

    #pauseMenu button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}